/*ESTIOLOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: rgb(244, 231, 255);
    color: black;
    line-height: 1.6;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*NAVEGACION*/

.navbar{
    background: linear-gradient(135deg,#D292F6 30%, #C068F3 100%); 
    padding: 0.5rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 2rem; 
    padding-left: 3rem;
}

.gif{
    width: 60px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.logo{
    width: 250px;
    height: auto;
    object-fit: contain; 
    display: block;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding-left: 5rem;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    transition: color 0.3s;
}

.menu a:hover,
.menu a.active{
    color: #9C13EC;
}

/*BANER PRINCIPAL - HERO*/

.hero{
    background: linear-gradient(135deg,#D292F6 30%, #C068F3 100%);
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.hero h2{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;padding: ;
}

.hero p{
    font-size: 1.2rem;
    opacity: 0.95;
}

.credits-section{
    padding: 3rem 0;
}

.credits-section h3{
    font-size: 2rem;
    color: #C068F3;
    margin-bottom: 2rem;
}

.credits-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;

}

.credit-card{
    background: white;
    border-radius: 12;
    padding: 1.5rem;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.credit-card:hover{
    transform: translate(-px);
    box-shadow: 0 4px 15 rgba(30, 58, 138, 0.2);
}

.card-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.card-header h4{
    font-size: 1.3rem;
    color:#C068F3;
}

.details{
    margin-bottom: 1.5rem;
}

.detail-item{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e7eb;
}

.requisitos-titulo { 
    display: block; 
    text-align: center; 
    font-weight: bold;
    margin-bottom: 10px; 
    color: grey; 
}

/* 2. Estilos para los Requisitos */
.requisitos-lista {
    display: flex; 
    flex-direction: column;
    padding: 0 10px; 
}

/* Estilo para cada punto de requisito */
.requisitos-lista .value {
    display: block; 
    text-align: justify; 
    line-height: 1.4;
    margin-bottom: 5px;
}

.label{
    color: #6b7280;
    font-size: 0.9rem;
}

.value{
    font-weight: 600;
    color: #C068F3;
}

.highlight{
    color: #640C97;
    font-size: 1.1rem;
}

.btn-primary{
    background-color: #C068F3;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn-primary:hover{
    background-color: #8010C1;
}

/*Footer*/

.main-footer{
    background: linear-gradient(135deg, #C068F3 30%, #9C13EC 100%);
    padding: 40px   0;
    text-align: left;
    color: white;
    margin-top: 50px;
}
.footer-container{
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: flex-start;
}
.footer-section{
    width: 23%;
    min-width: 180px;
    margin-bottom: 20px;    
}
.logo-footer{
    width: 150px;
    height: auto;
    margin-bottom: 10px; 
    filter: brightness(1.2);
}
.footer-logo p{
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer-section.footer-social-media{
    width: 23%;
    min-width: 180px;
    text-align: right;
    margin-top: 50px;
}
.footer-section h4{
    display: inline-block;
    margin-right: 10px;
}
 .footer-links a{
    color: rgb(120, 118, 118);
    text-decoration: none;
    font-size: 1rem;
    transition: color   0.3s;
    
}
.footer-links a:hover{
    color: #D292F6;
}
.social-links{
    display: inline-flex;
    gap: 10px;
    justify-content: flex-end;
    vertical-align: middle;
}
.social-icons{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D292F6;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    
}
.social-icons:hover{
    background-color: #ffffff;
    color: #C068F3;
}
/*Media Queries para responsivdad en celulares*/
@media (max-width: 768px){
    .navbar-container{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
    }
    .menu{
        padding-left: 1rem;
        gap: 1.5rem;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-section{
        margin-bottom: 20px;
    }
}

